.Header {
    background-color: #3b5998;
    padding: 7px 0px 3px 13%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}
.Header > *{
    display:inline-block;
}

p {
    margin: 0px;
}

.logo {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -223px;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
    position: relative;
    top: 3px;
  }
/* #inputText {
    width: 300px;
    border-radius: 5px;
    height: 22px;
    position: relative;
    top: 0px;
    padding-left: 5px;
    font-size: 14px;
    border: 0px;
} */

.header__left{
    background-color: white;
    width: 450px;
    height: 24px;
    position: relative;
    top: -4px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}
.header__left > img {
    height: 40px;
}
.header__mid{
    display: flex;
    justify-content: space-around;
}
